.social-provider-icon {
	background-image: url('icons.png');
	background-repeat: no-repeat;
	width: 32px;
	height: 32px;
	display: inline-block;
	margin: 0 2px 2px 0;;
	border-radius: 34px;
	text-align: center;
	font-size: 16px;
	line-height: 32px;
	*background: #fff;
	*color: #4E4D4A;
	transition: background 500ms, color 500ms;
	-webkit-transition: background 500ms, color 500ms;
}
.social-provider-icon:hover {
	text-decoration: none;
}

.social-provider-icon.twitter {
	background-position: 0 0px;
}
.social-provider-icon.google {
	background-position: 0 -32px;
}
.social-provider-icon.facebook {
	background-position: 0 -64px;
}
